.footer {
  padding-block: 30px;
  background: var(--secondary);
  color: var(--white);
}

.footer-text img {
  width: 150px;
}

.footer-text p {
  font-size: var(--fs-6);
  margin-block: 15px;
}

.footer-contact .footer-title {
  font-size: var(--fs-4);
  margin-bottom: 3px;
}

.footer-contact .contact-content {
  font-size: var(--fs-6);
  margin-block: 15px;
}

.contact-element {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 8px;
}

.contact-element a {
  color: var(--white);
  font-size: var(--fs-7);
}

.footer-contact .line {
  height: 2px;
  background: var(--primary);
  width: 20%;
}

.subscribe p {
  font-size: var(--fs-5);
}

.subscribe input {
  outline: none;
  padding: 10px;
  font-size: var(--fs-6);
  background: var(--white);
  border-radius: 50px;
  border: none;
  margin-block: 10px;
}

.subscribe button {
  width: 100%;
}

/* Go to Top button */
.go-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 10px;
  border-radius: 50px;
  color: var(--white);
  background-color: var(--primary);
  z-index: 5;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.go-top.active {
  opacity: 0.8;
  visibility: visible;
}

.go-top:is(:hover, :focus) {
  opacity: 1;
}

.go-top ion-icon {
  font-size: var(--fs-3);
}

@media screen and (min-width: 580px) {
  .footer-text p,
  .footer-contact .contact-content,
  .subscribe p {
    font-size: 16px;
  }

  .footer-contact {
    margin-block: 25px;
  }

  .footer-contact .footer-title {
    font-size: 20px;
  }

  .contact-element ion-icon {
    font-size: 25px;
  }

  .contact-element a {
    font-size: 16px;
  }

  .subscribe input {
    font-size: 16px;
  }

  .go-top ion-icon {
    font-size: 25px;
  }
}

@media screen and (min-width: 768px) {
  .footer-text p,
  .footer-contact .contact-content,
  .subscribe p {
    font-size: 18px;
  }

  .footer-contact {
    margin-block: 25px;
  }

  .footer-contact .footer-title {
    font-size: 22px;
  }

  .contact-element ion-icon {
    font-size: 30px;
  }

  .contact-element a {
    font-size: 18px;
  }

  .go-top ion-icon {
    font-size: 35px;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    padding-inline: 40px;
  }

  .footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 35px;
  }
}

