.inquire {
  background: var(--primary);
  padding-block: 50px;
}

.book-form label {
  margin-top: 15px;
  padding-inline-start: 10px;
  color: var(--white);
}

.book-form input {
  outline: none;
  padding: 8px;
  margin-top: 15px;
  color: var(--gray);
  border-radius: 50px;
  background: var(--white);
}

.btn-secondary {
  width: 100%;
  margin: 25px auto;
}
