.destination {
  padding-block: 30px;
}

.popular-text {
  font-size: var(--fs-6);
  color: var(--gray);
  margin-block: 15px;
}

.popular-list li {
  margin-bottom: 30px;
}

.popular-card {
  position: relative;
}

.card-img {
  width: 100%;
  min-height: 350px;
  border-radius: 15px;
}

.card-popular-content {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  border-radius: 15px;
  background-color: var(--white);
  padding: 20px;
  z-index: 1;
}

.card-country {
  text-transform: uppercase;
  font-size: var(--fs-7);
  color: var(--primary);
}

.card-town {
  font-size: 16px;
  margin-block: 5px;
}

.card-text {
  font-size: var(--fs-7);
  color: var(--gray);
}

@media (min-width: 580px) {
  .destination {
    padding-block: 50px;
    text-align: center;
  }

  .destination .popular-text{
    font-size: 16px;
    margin-block: 20px;
  }

  .popular-list li .popular-card {
    display: flex;
    justify-content: center;
  }

  .card-popular-content {
    width: 50%;
  }

  .card-img {
    width: 60%;
    min-height: 350px;
    border-radius: 15px;
  }
}
