.destination {
  padding-block: 30px;
}

.popular-text {
  font-size: var(--fs-6);
  color: var(--gray);
  margin-block: 15px;
}

.popular-list li {
  margin-bottom: 30px;
}

.popular-card {
  position: relative;
}

.card-img {
  width: 100%;
  min-height: 350px;
  border-radius: 15px;
}

.card-popular-content {
  opacity: 0.8;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  border-radius: 15px;
  background-color: var(--white);
  padding: 20px;
  z-index: 1;
}

.card-country {
  text-transform: uppercase;
  font-size: var(--fs-7);
  color: var(--primary);
}

.card-town {
  font-size: 16px;
  margin-block: 5px;
}

.card-text {
  font-size: var(--fs-7);
  color: var(--gray);
}

@media screen and (min-width: 580px) {
  .destination {
    padding-block: 50px;
    text-align: center;
  }

  .destination .popular-text {
    font-size: 16px;
    margin-block: 20px;
  }

  .popular-list li .popular-card {
    display: flex;
    justify-content: center;
  }

  .card-popular-content {
    width: 50%;
  }

  .card-img {
    width: 60%;
    min-height: 350px;
    border-radius: 15px;
  }
}

@media screen and (min-width: 768px) {
  .destination .popular-text {
    font-size: 18px;
    margin-block: 25px;
  }

  .card-popular-content {
    top: 70%;
  }

  .card-country {
    font-size: 18px;
  }

  .card-town {
    font-size: 22px;
    margin-block: 15px;
  }

  .card-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  .popular-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }

  .popular-card img {
    width: 90%;
  }

  .card-popular-content {
    top: 250px;
    width: 80%;
  }

  .card-popular-content span {
    font-size: 12px;
  }

  .card-popular-content .card-town {
    font-size: 16px;
    margin-block: 5px;
  }

  .card-popular-content .card-text {
    font-size: 14px;
    color: var(--black);
  }
}

@media screen and (min-width: 1280px) {
  .destination h2{
    margin-top: 85px;
  }


  .destination .popular-text {
    margin-block: 35px;
  }

  .card-popular-content {
    top: 400px;
  }

  .card-img{
    min-height: 500px;
  }
}
