.gallery {
  padding-block: 30px;
}

.gallery-text {
  font-size: var(--fs-6);
  color: var(--gray);
  margin-block: 15px;
}

.gallery-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

@media screen and (min-width: 580px) {
  .gallery {
    text-align: center;
  }

  .gallery-text {
    font-size: 16px;
    margin-block: 20px;
  }
}
