.gallery {
  padding-block: 30px;
}

.gallery-text {
  font-size: var(--fs-6);
  color: var(--gray);
  margin-block: 15px;
}

.gallery-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

@media screen and (min-width: 580px) {
  .gallery {
    text-align: center;
  }

  .gallery-text {
    font-size: 16px;
    margin-block: 20px;
  }
}

@media screen and (min-width: 768px) {
  .gallery-text {
    font-size: 18px;
  }

  .gallery-list {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .gallery h2 {
    margin-top: 85px;
  }

  .gallery-text {
    margin-block: 35px;
  }

  .gallery-list{
    margin-bottom: 85px;
  }
}
