.hero {
  background-image: url(/images/hero-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsla(0, 0%, 0%, 0.7);
  background-blend-mode: overlay;
  display: grid;
  place-items: center;
  min-height: 600px;
  text-align: center;
}

.hero-text {
  color: var(--white);
  margin-block: 25px;
}

.btn-primary {
  margin: 0 auto;
}

@media screen and (min-width: 580px) {
  .hero {
    min-height: 800px;
  }

  .hero-title {
    margin-top: 50px;
  }

  .hero-text {
    margin-block: 30px;
    font-size: 20px;
  }
}
