.inquire {
  background: var(--primary);
  padding-block: 30px;
}

.book-form label {
  margin-top: 12px;
  padding-inline-start: 10px;
  color: var(--white);
}

.book-form input {
  outline: none;
  padding: 8px;
  margin-top: 12px;
  font-size: var(--fs-6);
  color: var(--gray);
  border-radius: 50px;
  background: var(--white);
}

.btn-secondary {
  width: 100%;
  margin-top: 20px;
}
