.inquire {
  background: var(--primary);
  padding-block: 30px;
}

.book-form label {
  padding-inline-start: 10px;
  color: var(--white);
}

.book-form .field {
  outline: none;
  padding: 8px;
  font-size: var(--fs-6);
  color: var(--gray);
  border-radius: 50px;
  background: var(--white);
  margin-block: 10px;
}

.btn-inquire {
  width: 100%;
  margin-top: 20px;
}

@media screen and (min-width: 580px) {
  .inquire {
    padding-block: 50px;
  }
  .book-form label {
    font-size: 20px;
  }

  .book-form .field {
    font-size: 14px;
    padding: 12px;
  }

  .btn-inquire {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .book-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .book-form label {
    font-size: 16px;
  }

  .book-form .field {
    padding: 8px;
  }
}

@media screen and (min-width: 992px) {
  .book-form .field {
    font-size: 16px;
    padding: 10px;
  }

  .book-form label {
    font-size: 21px;
  }
  
  .btn-inquire {
    width: 50%;
    margin: 25px auto 0 auto;
  }
}
